* {
  box-sizing: border-box;
}

:root {
  --switches-bg-color: #a7a7a7;
  --switches-label-color: white;
  --switch-bg-color: white;
  --switch-text-color: black;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

#calendarView h4 {
  font-size: 1.2rem;
}

.container {
  border: 1px solid rgba(0, 0, 0, .125);
  border-bottom: none;
}

.switches-container {
  width: 10rem;
  position: relative;
  display: flex;
  padding: 0;
  position: relative;
  background: var(--switches-bg-color);
  line-height: 2rem;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.switches-container label {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: var(--switches-label-color);
}

.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.15rem;
  z-index: 3;
  transition: transform .4s cubic-bezier(.77, 0, .175, 1);
}

.switch {
  border-radius: 3rem;
  background: var(--switch-bg-color);
  height: 100%;
}

.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: var(--switch-text-color);
  transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}

.day-block {
  aspect-ratio: 1 / 0.7;
  /* font-size: 12px; */
  width: calc(100% / 7) !important;
}

@media (max-width:1200px) {
  .day-block {
    
    height: 120px;
  
  }
}

@media (max-width:576px) {
  .day-block {
    font-size: 1rem;
    aspect-ratio: 1/0.7;
    height: 70px;
  }
}

.day-block span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  aspect-ratio: 1/1;
  display: block;
  cursor: pointer;
}

.day-block span.selected {
  border: solid 1px #a7a7a7;
  background: #a7a7a7;
  color: white;
}

.today {
  background-color: #ff5000;
  color: white;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  aspect-ratio: 1/1;
}

.weekend {
  background-color: #f4f2f2;
}

.gray {
  color: #aeaeae;
}

.step {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
}

.dot {
  content: '';
  background: #ff5000;
  /* width: 7px;
  height: 7px; */
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width:576px) {
  .dot {
    /* width: 5px;
    height: 5px; */
    display: flex !important;
    margin-bottom: 2px;
  }
}

.time {
  text-align: end;
  display: inline-table;
  align-self: center;
}

@media (max-width:992px) {
  .time {
    /* line-height: 22px; */
    margin-left: 30px;
  }
}

.monthlyEventTitle {
  /* border: solid 1px #a7a7a7;
  border-radius: 15px; */
  /* margin: 5px; */
  padding-left: 10px;
  /* border-left: solid 5px #ff50005e;
  font-size: 18px; */

}

@media (max-width:768px) {
  .monthlyEventTitle {
    font-size: 12px;
    padding-left: 5px;

  }
}

@media (max-width:576px) {
  .monthlyEventTitle {
    display: none !important; 
  }
}
@media (max-width:576px) {
  .monthDayEvents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

#daily{
  /* align-items: left; */
  display: flex;
  flex-direction: column;

}